.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.sidebar-n-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.admin-panel {
    height: 100%; /* 높이를 100%로 설정 */
    width: 100%;
    margin: 0; /* 기본 마진 제거 */
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column; /* 컬럼 방향으로 정렬 */
    background-color: #e7e7e8;
    padding: 20px;
}