.post {
    margin-bottom: 20px;
    border-radius: 10px; /* rounded corners */
    overflow: hidden; /* ensures that content does not overflow the rounded corners */
    transition: transform 0.2s, box-shadow 0.2s; /* smooth transition for hover effects */
}

/* Adding a shadow and slight scale effect on hover to make the posts pop */
.post:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left posts */
.post1, .post2 {
    width: calc(36.333% ); /* Adjusted width for three posts */
    height: 300px; /* or whatever height you desire */
}

/* Right posts */
.post3,  .post5 {
    width: calc(23.5% - 10px); /* Adjusted width for two square posts */
    height: calc(23.5% - 10px); /* Making the height equal to the width to create a square */
}
.post4 {
    width: calc(75.333%); /* Adjusted width for three posts */
    height: 500px; /* or whatever height you desire */
}

/* Adding unique styles to each post */
.main-container .post1 { background-color: #b5b5b5; }
.main-container .post2 { background-color: #b5b5b5; }
.main-container .post3 { background-color: #b5b5b5; }
.main-container .post4 { background-color: #b5b5b5; }
.main-container .post5 { background-color: #b5b5b5; }

