.sidebar {
    background-color: #fafafa;
    color: #09313b;
    min-height: 100vh;
    width: 350px; 
    /* min-width: 15%; */
    transition: width 0.2s ease;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar.collapsed {
    width: 120px; 
}
.sidebar-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.menu-list li:hover {
    background-color: #1976d2;
    color: #ecf0f1;
}
.menu-list a {
    color: inherit;
    text-decoration: none;
    width: 100%;
}
.menu-item {
    display: block; 
}
.menu-item span {
    transition: visibility 0s, opacity 0.2s ease;
    display: inline-block;
    opacity: 1;
    visibility: visible;
    width: auto; 
}

/* 사이드바가 축소될 때 텍스트를 점차적으로 숨김 */
.sidebar.collapsed .menu-item span {
    opacity: 0;
    visibility: hidden;
    width: 0; /* 텍스트 너비를 0으로 만들어 안 보이게 함 */
    transition: visibility 0s linear 0.2s, opacity 0.2s ease;
}
.sidebar.expanded .menu-item span {
    opacity: 1;
    visibility: visible;
    /* opacity가 나타나는데 0.3초의 지연을 줍니다. */
    transition: visibility 0s linear 0.3s, opacity 0.2s ease 0.3s;
    width: auto; /* 텍스트의 실제 너비로 복원 */
}

.sidebar-toggle {
    cursor: pointer;
    padding: 10px;
    background-color: #1976d2;
    text-align: center;
    margin-bottom: 150px;
}

.toggle-icon {
    color: #ecf0f1;
    font-size: 20px;
}

.menu-list li .fa-icon {
    padding: 8px; /* 필요한 공간에 맞게 조정 */
}
.fa-icon {
    width: 30%; 
    margin: 8px;
    width: auto;
    flex: none; 
    
}

.menu-item span {
    flex: 1; /* 텍스트가 나머지 공간 차지 */
    text-align: center; /* 텍스트 중앙 정렬 */
    transition: visibility 0s, opacity 0.2s ease;
    display: inline-block;
    opacity: 1;
    visibility: visible;

}