/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
}

/* Drop Zone Styles */
.drop-zone {
    min-height: 100%;
    min-width: 80%;
    background-color: #f9f9f9; /* Neutral background */
    border: 2px solid #007bff; /* Solid border with a blue color */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 20px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.drop-zone.can-drop {
    background-color: #eef7ff; /* Slightly darker blue when an item can be dropped */
}

.drop-zone.is-over {
    background-color: #d0e8ff; /* Even darker blue when an item is over the zone */
}

/* Drop Zone Sections */
.drop-zone-section {
    border: 1px dashed #ccc;
    margin: 10px;
    padding: 10px;
    min-height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.drop-zone-section.header { background-color: #eef7ff; }
.drop-zone-section.banner { background-color: #ffeded; }
.drop-zone-section.description { background-color: #edffee; }

/* Draggable Components */
.draggable-component {
    cursor: grab;
    transition: all 0.3s ease;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.draggable-component.is-dragging {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

/* Draggable Component Variants */
.draggable-text, .draggable-button button, .draggable-image img {
    margin: 5px 0;
}

/* Layout Containers */
.drag-components-container {
    flex: 1;
    padding: 10px;
    border-right: 2px solid #d3d3d3;
    overflow-y: auto;
}

.drop-zone-container {
    flex: 4;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons and Interactions */
.btn, .draggable-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover, .draggable-button button:hover {
    background-color: #0056b3;
}

.btn:active, .draggable-button button:active {
    background-color: #004291;
}

/* Image Styles */
.draggable-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
