.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}
header {
    width: 100%;
    height: 60px;
    /* display: flex;
    position: absolute; or absolute, depending on your layout */
    top: 0;
    left: 0;
    z-index: 1010; /* Higher z-index to ensure header is above the sidebar */
    background: white;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
.search-button {
    background-color: #e0e0e0;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
